body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    color: #004d00;
 }

p {
    padding: 8px 5px;
    color:  #331a00;
    font-size: 20px;
    font-weight: bold;
}

.main-container {
    position: absolute;
    left: 15%;
    right: 15%;
}

.input-wrapper {
    border-radius: 20px;
    padding: 10px 10px;
    background-color: #ffffb3;
    opacity: 0.9;
    text-align: center;
}

.number-forms {
    width: 80px !important;
}

.buttons-container {
    margin-top: 10px;
    text-align: center;

}

.operation-button {
    margin: 10px 10px 5px 10px !important;
    height: 45px;
    width: 45px;
    font-weight: bold;
}

.visible-border {
    background: none;
    border-style: dashed;
    border-color: #577205;
    font-size: 20px;
}

#equation-div {
    height: 50px;
    margin-bottom: 20px;
    border-style: dashed;
    border-color: #577205;
}

.fill-gap-space {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color:  #ff9933;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    color: #ffffcc;
}

li a:hover {
    background-color: #ffffcc ;
    color: #408000;
}





