
.body {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.smaller-card {
   width: 22rem;
   height: 29rem;
}

.add-gap {
    margin-bottom: 20px;
}