
* {
    font-size: 1.4rem;
    font-family: 'Comfortaa', cursive;
    text-align: justify;
  }

  h1 {
      font-size: 45px;
      font-family: 'Montserrat', sans-serif;
  }

  .nopadding {
     padding: 0 !important;
     margin: 0 !important;
  }

  #div1 {    
    padding-right: 30px;   
    background-color: red;    
  }

 
 
